
.documentPage{
  .topSearch{
    background-color: #fff;
    padding: 20px;
  }
  .document-wapper{
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    >.t-table.t-vertical-align-top{
      height: 100%;
    }
  }
}